<% var data = jsonD; %>
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<!-- jsonデータのtitleを引っ張る -->
<title><%= data.title %></title>
<link rel="stylesheet" href="files/css/style.css">
</head>
